*{
    margin: 0;
    padding: 0;
}
/*aqui personalizo la fuente de la pagina y el color de fondo*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 230, 230);
}
/*aqui personalizo la cabecera o el menu de navegación */
header{
    background-color: rgb(243, 123, 37);
    color: white;
    text-align: center;
}
#menu{
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 25px;
}
#menu a{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 176, 85);
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bolder;
    transition: all 0.3s ease;
}
#menu a:hover{
    background-color: rgb(255, 153, 0);
}
/* aqui voy a personalizar el cuerpo de mi página */
#contenedor{
    display: flex;
    min-height: 400px;
    min-height: 100vh;
}
#publicidad1{
    width: 20%;
    background-color: rgb(235, 230, 230);
}
#contenido{
    width: 60%;
    background-color: rgb(245, 231, 213);
    padding: 20px;
    
}
#publicidad2{
    width: 20%;
     background-color: rgb(235, 230, 230);
}
iframe{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 153, 0);
    border-radius: 20px;
}
footer{
    background-color: rgb(243, 123, 37);
    color: white;
    text-align: center; 
    padding: 80px;
}
/* Aqui personalizo productos */
#galeria_prod{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 50px;
} 
/*cuadro productos*/
.prod{
    background-color: rgb(244, 185, 96);
    max-width: 250px;
    padding: 50px;
    border-radius: 50px;
}
.prod img{
    width: 100%;
    border-radius: 20%;
}
.prod:hover{
    box-shadow: 0px 5px 10px rgb(243, 207, 139);
    border: 1px solid orange;
}
button{
    padding: 10px;
    background-color:white;
    color: orange;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(250, 250, 250);
}
#publicidad1 img{
    width: 100%;
}
#publicidad2 img{
    width: 100%;
}
.portada img{
    width: 100%;
}
img {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.mis-vis{
    border: 1px solid orange;
    width: 300px;
    border-radius:  30px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 5px 10px;
}
/*aqui personalizo contacto*/
form{
    max-width: 200px;
    margin: auto;
}
.Contacto{
    width: 100%;
    background-color: rgb(255, 187, 109);
}
input, textarea{
    width: 200%;
    padding: 10px;
    border-radius: 16px;
}
#hamburguesa{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#activadormenu{
    display: none;
}
/* aqui personalizo pagina para otros dispositivos*/
@media (max-width: 750px){
    #menu{
        flex-direction: column;
        gap: 5px;
        padding: 0px;
        display: none;
    }
    #menu a{
        display: flex;
        justify-content: center;
    }
    #contenedor{
        flex-direction: column;
        text-align: center;
    }
    #publicidad1, #contenido, #publicidad2{
        width: 100%;
    }
    #publicidad1 img{
        width: 100px;
    }
    #publicidad2 img{
        width: 100px;
    }
    iframe{
        height: 400px;
    }
    #galeria_prod{
        grid-template-columns: repeat(1, auto);
    }
    #hamburguesa{
        display: block;
    }
    #activadormenu:checked + #hamburguesa + #menu{
        display: flex;
    }
}